{% extends 'employeelib/enter_detail.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {{form.first_name|as_crispy_field}}
    {{form.middle_name|as_crispy_field}}
    {{form.last_name|as_crispy_field}}
    {{form.gender|as_crispy_field}}
    {{form.date_of_birth|as_crispy_field}}
    {{form.email_id|as_crispy_field}}
    {{form.mobile_number|as_crispy_field}}
    {{form.address|as_crispy_field}}
    {{form.aadhar_no|as_crispy_field}}
    {{form.bank_account_name|as_crispy_field}}
    {{form.ifsc_code|as_crispy_field}}
    {{form.account_number|as_crispy_field}}
    <button type="submit" class="btn btn-success">Save Employee</button>
  </form>
{% endblock %}
